/* Mobile design */
html {
    text-align: center;
    background-color: rgb(235, 213, 184);
    color: rgb(56, 51, 68);
    font-family: 'Yomogi', cursive;
}

h1 {
    font-size: 35px;
}

p {
    font-size:35px;
}

#chalkboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgb(56, 51, 68);
    color: rgb(235, 213, 184);
    width: 90%;
    height: 75vh;
    margin: auto;
    border-radius: 0.5rem;
}

.rpsOption:hover {
    text-shadow: 0 0 10px rgb(235, 213, 184);
}

.rpsImg {
    filter: 
        invert(93%) 
        sepia(8%) 
        saturate(1014%) 
        hue-rotate(334deg) 
        brightness(93%) 
        contrast(99%);
    display: none;
}

.attribution {
    display: none;
}

/* Tablet design */
@media screen and (min-width: 600px) {
    #chalkboard {
        width: 90%;
        height: 85vh;
    }
    .smallScreensOnly {
        display: none;
    }

    #attributionContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .attribution {
        display: flex;
        padding: 10px 0 20px 0;
        margin: 15px 0;
        font-size: 14px;
        line-height: 2px;
        color:rgb(56, 51, 68);
    }
}


/* Computer design */
@media screen and (min-width: 992px) {
    #chalkboard {
        height: 80vh;
        flex-direction: row;
    }

    .rpsImg {
        display: flex;
        width: 20vw;
    }

    .attribution {
        padding: 10px 0 0 0;
        margin: 1.5% 0;
        font-size: 16px;
    }
}