/* Mobile design */
html {
    text-align: center;
    background-color: rgb(235, 213, 184);
    color: rgb(56, 51, 68);
    font-family: 'Yomogi', cursive;
}

h1 {
    font-size: 25px;
}

p {
    font-size:35px;
}

p:hover {
    text-shadow: 0 0 10px rgb(134, 109, 75);
}

#gameText, #chalkboardFlex {
    background-color: rgb(56, 51, 68);
    color: rgb(235, 213, 184);
    width: 90%;
    margin: auto;
}

#playthroughText {
    word-wrap: break-word;
    font-size: 20px;
    white-space: pre-wrap;
    text-align: right;
}

#scoreText {
    font-size: 25px;
}

#gameText {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    grid-template-rows: 7em;
    border-radius: 0.5rem 0.5rem 0 0;
}

#gameText:hover {
    text-shadow: 0 0 10px rgba(235, 213, 184, 0.5);
}

#chalkboardFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column wrap;
    height: 65vh;
    border-radius: 0 0 0.5rem 0.5rem;
}

.rpsOption:hover {
    text-shadow: 0 0 10px rgb(235, 213, 184);
}

.rpsImg {
    filter: 
        invert(93%) 
        sepia(8%) 
        saturate(1014%) 
        hue-rotate(334deg) 
        brightness(93%) 
        contrast(99%);
    display: none;
}

.attribution {
    display: none;
}


/* Phone design */
@media screen and (max-width: 992px) {
    #scoreText {
        display: none;
    }
    
    #playthroughText {
        width: 80vw;
        text-align: right;
    }
}


/* Computer design */
@media screen and (min-width: 992px) {
    .smallScreensOnly {
        display: none;
    }
    #chalkboardFlex {
        height: vh;
        flex-direction: row;
    }

    #chalkboard {
        margin: auto;
    }

    .rpsImg {
        display: flex;
        width: 20vw;
    } 

    #attributionContainer {
        width: 50%;
    }
    
    #attributionContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .attribution {
        display: flex;
        padding: 10px 0 0 0;
        margin: 1.5% 5%;
        font-size: 16px;
        line-height: 2px;
        color:rgb(56, 51, 68);
    }

    h1 {
            font-size: 35px;
    }
    
    #scoreText {
        text-align: left;
        grid-column-start: 2;
    }
    
    #playthroughText {
        grid-column-start: 3;
    }

    #scoreText, #playthroughText {
        font-size: 26px;
    }

    #gameText {
        display: grid;
        grid-template-columns: 1fr 5fr 15fr 1fr;
        grid-template-rows: 7em 4em;
        border-radius: 0.5rem 0.5rem 0 0;
        border-bottom: 0.2em solid rgb(235, 213, 184);
    }
}